li a{
	color: black;
}

body {
	background: #e3e3e3;
	font-size: 100%;
}

hr {
	background: #cecece;
	border: 0;
	color: #cecece;
	height: 2px;
	margin-top: 2px;
	padding: 0px;	
}
h1 {
	color: #7a7a7a;
	font-family: "Georgia", Georgia, serif;
	font-size: 2.5em;
	font-weight: 400;
	margin-bottom: 8px;
}

h2 {
	color: #7a7a7a;
	font-family: "Calibri", Calibri, sans serif;
	font-size: 1.5em;
	font-weight: 400;
	margin-bottom: 5px;
	margin-top: 20px;
}

.box {
	background: white;
	border-color: #cecece;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 25px;
	padding: 20px;
	position: relative;
}

p.date {
	color: #a5a5a5;
	text-align: right;
	font-family: "Calibri", Calibri, sans serif;
	font-weight: 400;
	margin-bottom: 0px;
	margin-top: 10px;
	font-size: 1em;
}

p.tags {
	color: #a5a5a5;
	font-family: "Calibri", Calibri, sans serif;
	font-size: 1.2em;
	font-weight: 400;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
}

p.votes {
	color: #a5a5a5;
	float: left;
	font-family: "Calibri", Calibri, sans serif;
	font-size: 1.3em;
	font-weight: 400;
	margin-right: 10px;
	text-align: left;
}

.askbar {
	background: #4fa8ca;
	border: 0;
	height: 55px;
	position: relative;
}

.askbar img {
	bottom: 0;
	margin: auto;
	position: absolute;
	top: 0;
}

#container {
	margin-left: 240px;
	width: 80%;
}

#header {
	float: left;
	width: 100%;
}

#content {
	float: left;
	padding: 10px 0px;
	width: 100%;
}

#logo {
	left: 200px;
}

#home {
	float: right;
	right: 300px;
}

#mail {
	float: right;
	right: 360px;
}
#gear {
	float: right;
	right: 240px;
}

a:link {
	color: black;
	font-family: "Calibri", Calibri, sans serif;
	font-size: 1.3em;
	font-weight: 600;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: #4fa8ca;
}

a:active {
	color: black;
}
