{% extends "realqa/base0.html" %}

{% block static %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'realqa/css/style.css' %}" />
{% endblock %}

{% block body %}
		<div class="askbar">
			<form action="logout" id="logout_form">
				{% csrf_token %}
				<input type="submit" value="Log out" name="logout" id="logout" class="button" />
			</form>
			
			<form action="help">
				{% csrf_token %}
				<input type="submit" value="Help" name="help" id="help" class="button" />
			</form>
			
			{% load staticfiles %}
			<img src="{% static 'realqa/images/logo-q.png' %}" style="width:45px; height:45px; left:200px;"> 
			
			<form method="post" id="ask_form" action = "{% url 'realqa:ask' %}">
				{% csrf_token %}
				
				<input type="text" name="ask" id="ask" class="text" placeholder="Ask a question here!  Hint: Use #tags to increase your question's visibility to other users..." />
				<input type="submit" value="Post" name="submit" id="submit" class="button" />
			</form>
			
			<a href="{% url 'realqa:index' %}"> <img src="{% static 'realqa/images/house.png' %}" style="width:43px; height:40px; right: 100px;"> </a>
			<a href="{% url 'realqa:inbox' %}"> <img src="{% static 'realqa/images/message.png' %}" style="width:45px; height:34px; right:170px;"> </a>
			<a href="{% url 'realqa:profile' %}"> <img src="{% static 'realqa/images/setting.png' %}" style="width:45px; height:44px; right:30px;"> </a>
		</div>
	
		<div id="container">		
			<div id="header">
				<h1>
					{% block header %}
						<!-- Header of page -->
					{% endblock %}
				</h1>
				
				{% block details %}
					<!-- Sometimes contains date/tags for answer view -->
				{% endblock %}
				
				<hr></hr>
			</div>
				
			<div id="content">
				{% block content %}
					<!-- Page contents -->
				{% endblock %}
			</div>
		</div>
{% endblock %}