<!DOCTYPE html> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html lang="en">

	<head>
		<meta charset="utf=8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<title>RealQA</title>
		
		<meta name="description" content="Welcome to RealQA! A site where you can ask questions to your peers, and answer them.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="js/vendor/modernizr-2.6.2.min.js"></script>
		{% block scripts %}
			<!-- Specific scripts for each page go here -->
		{% endblock %}
		
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'realqa/css/normalize.css' %}" />
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'realqa/images/favicon.ico' %}" />
		<link rel="apple-touch-icon-precomposed" href="{% static 'realqa/images/apple-touch-icon-precomposed.png' %}" />
		{% block static %}
			<!-- Specific static files for each page go here -->
		{% endblock %}
	</head>
	
	<body>
		<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		{% block body %}
			<!-- Body of page goes here -->
		{% endblock %}
	</body>
</html>	