{% extends "realqa/base.html" %}

{% block header %} {{ question.body }} {% endblock %}

{% block details %}
	<p class="tags"> 
		{% for tag in question.split_tags %} 
			<a href="#">#{{ tag }}</a> 
		{% endfor %} 
	</p>
	
	<p class="date"> asked by {{ question.author }} | {{ question.added_at }} </p>
	<h2> {{ question.answer_count }} Answers </h2>
{% endblock %}

<!-- Displays all answers to a particular question -->
{% block content %}

	{% if error_message %} 
		<p><strong> {{ error_message }} </strong></p> 
	{% endif %}
	
	<div class="box">
		<form method="post" action="http://realqa.mathcs.emory.edu/questions/question.id/answers/">
			{% csrf_token %}
			<textarea name="answer" id="answer" rows="4" placeholder="Type your response here..." /></textarea> 
			<input type="submit" name="answer_submit" id="answer_submit" value="Post" class="button"/>
		</form>
	</div>
		
	{% for answer in question.answer_set.all %}
		<div class="box">
			<p class="votes"> {{ question.score }} </p>
			<p class="answer_body"> {{ answer.body }} </p>
			<p class="date"> answered by {{ answer.author }} | {{ answer.added_at }} </p>
		</div>
	{% endfor %}
{% endblock %}