{% extends "realqa/base.html" %}

{% block header %} 
	{{ qa.question.body }} 
	<p class="votes" style="position:absolute; left:190px; top:45px"> {{ qa.question.score }} </p>
			
	<form name="question_vote" id="question_vote" method="post">
		{% load staticfiles %}
		{% csrf_token %}
		<input type="image" src="{% static 'realqa/images/upvote.png' %}" style="left:186px; top:85px;"/>
		<input type="image" src="{% static 'realqa/images/downvote.png' %}" style="left:186px; top:157px" />
	</form>
	
{% endblock %}

{% block details %}
	<p class="tags"> 
		{% for tag in question.split_tags %} 
			<a href="#">#{{ tag }}</a> 
		{% endfor %} 
	</p>
	
	<p class="date"> 
		asked by {{ qa.question.username }} | {{ qa.question.added_at }} 
	</p>
	
	<h2> 
		{{ question.answer_count }} Answers 
	</h2>
{% endblock %}

<!-- Displays all answers to a particular question -->
{% block content %}
	{% if error_message %} 
		<p><strong> {{ error_message }} </strong></p> 
	{% endif %}
	
	<div class="box">
		<form method="post" action="http://realqa.mathcs.emory.edu/questions/question.id/answers/">
			{% csrf_token %}
			<textarea name="answer" id="answer" rows="4" placeholder="Type your response here..." /></textarea> 
			<input type="submit" name="answer_submit" id="answer_submit" value="Post" class="button"/>
		</form>
	</div>
		
	{% for answer in qa.answers %}
		<div class="box">
			<p class="votes" style="bottom: 10px"> {{ answer.score }} </p>
			
			<form name="votes" method="post">
					{% load staticfiles %}
					{% csrf_token %}
					<input type="image" src="{% static 'realqa/images/upvote.png' %}" style="top:12px"/>
					<input type="image" src="{% static 'realqa/images/downvote.png' %}" style="top:60px" id="downvote"/>
			</form>
			
			<div class="body">
				<p class="answer_body"> {{ answer.body }} </p>
				<p class="date"> answered by {{ answer.username }} | {{ answer.added_at }} </p>
			</div>
		</div>
		
		
	{% endfor %}
{% endblock %}