{% extends "realqa/base.html" %}

{% block header %} {{ question.body }} {% endblock %}

{% block details %}
	<p class="tags"> {% for tag in question.split_tags %} #{{ tag }} {% endfor %} </p>
	<p class="date"> asked by {{ question.author }} | {{ question.added_at }} </p>
	<h2> {{ question.answer_count }} Answers </h2>
{% endblock %}

<!-- Displays all answers to a particular question -->
{% block content %}
	{% if error_message %} <p><strong> {{ error_message }} </strong></p> {% endif %}
		{% csrf_token %}
		{% for answer in question.answer_set.all %}
			<div class="box">
				<label for="answer{{ forloop.counter }}"> {{ answer.body }} </label><br />
				<p class="date"> answered by {{ answer.author }} | {{ answer.added_at }} </p>
				<p class="tags"> {{ answer.score }} votes </p>
			</div>
		{% endfor %}
{% endblock %}