{% extends 'realqa/base.html' %}

{% block header %} Help {% endblock %}

{% block content %}
	<div class="box">
		<p class="answer_body"> 
			The home icon button will bring you to your Dashboard, which lists recommended questions which can be sorted by clicking on the Sort By button.
			<br /><br />
			To ask a question, enter your question into the ask bar, and click post to submit it. You can also tag your question by entering a space and then a hashtag before each tag.
			<br /><br />
			You can view questions under each tag by clicking on a tag listed underneath the question.
			<br /><br />
			To view a question and it's answers, click on the question text. Here you can enter an answer for the question in text box, and submit it by clicking the Post button. 
			<br /><br />
			Click on the up arrow to upvote a post, and click on the down arrow to downvote a post. Click on the same arrow again to undo the action. You can't vote on your own posts.
			<br /><br />
			To access your messages, click on the mail icon.
			<br /><br />
			To access your profile, which includes your asked questions, answered questions, and subscribed questions, click on the gear icon. 
			<br /><br />	
			To log out, click on the Log out button.
		</p>
	</div>
{% endblock %}