{% extends 'realqa/base.html' %}
	
{% block header %} Dashboard {% endblock %}

<!-- Lists all the questions -->
{% block content %}
	{% if question_list %}
		{% for question in question_list %}
			<div class = "box">
				<p class="votes"> {{ question.score }} </p>
				<a href="{% url 'realqa:detail' question.id %}"> {{ question.body }} </a>
				
				<!-- Splits the comma separated tags into separate tags with # at the front of each -->
				<p class="tags"> 
					{% for tag in question.split_tags %} 
						#{{ tag }} 
					{% endfor %} 
				</p>
				<p class="date"> {{ question.answer_set.count }} answers | {{ question.added_at }} </p>
			</div>
		{% endfor %}
		
		{% else %}
		<p>No questions are available.</p>
	{% endif %}
{% endblock %}
