{% extends 'realqa/base.html' %}


<!--<script type="text/javascript">-->
	<!--window.onload = function() {-->
		<!--var question;-->
		<!--$.getJSON( "http://realqa.mathcs.emory.edu/questions/", function(result) {-->
			<!--$.each(result, function(i, field){-->
			<!--$("div").append(field + "");-->
			<!--});-->
		<!--})-->
	<!--};-->
<!--</script>-->

{% block header %} Dashboard {% endblock %}

<!-- Lists all the questions -->
{% block content %}
	<nav>
	<ul>
		<li> Sort By:
			<ul>
				<li><a href="#"> Freshness </a></li>
				<li><a href="#"> Relevance </a></li>
				<li><a href="#"> Answer Count </a></li>
				<li><a href="#"> Location </a></li>
				<li><a href="#"> Popularity </a></li>
			</ul>
		</li>
	</ul>
	</nav>
	
	{% if question_list %}

		{% for question in question_list.results %}
			<div class="box">
				<p class="votes"> {{ question.score }} </p>
				
				<form name="votes" method="post">
					{% load staticfiles %}
					{% csrf_token %}
					<input type="image" src="{% static 'realqa/images/upvote.png' %}"/>
					<input type="image" src="{% static 'realqa/images/downvote.png' %}" style="top:70px"/>
				</form>
				
				<div class="body">
					<a href="{% url 'realqa:detail' question.id %}" id="question_body"> {{ question.body }} </a>
				
					<!-- Splits the comma separated tags into separate tags with # at the front of each -->
					<p class="tags">
						{% for tag in question.tagnames %}
							<a href="{% url 'realqa:tags' tag %}" style="padding-right:3px;">#{{ tag }}</a>
						{% endfor %}
					</p>
					
					<p class="date"> 
						{{ question.answer_count }} 
						 answer{% if question.answer_count != 1 %}s{% endif %}
						 | {{ question.added_at }} </p>
				</div>
			</div>
		{% endfor %}
		
		{% else %}
		<p>No questions are available.</p>
	{% endif %}
{% endblock %}
