{% extends "realqa/base0.html" %}

{% block scripts %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
		$(function() {
			$('input[name="sign_in"]').click(function() {
				var formdata = JSON.stringify($("#myForm").serializeArray());
				$.ajax({
					type: 'POST',
					contentType: 'application/json',
					url: "http://realqa.mathcs.emory.edu/api-token-auth/",
					dataType: "json",
					data: formdata,
					success: function(data) {
						alert('posted');
					};
				});
			});
		});
	</script>
{% endblock %}
	
{% block static %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'realqa/css/login.css' %}" />
{% endblock %}
	
{% block body %}
	<div>
		<h1> RealQA </h1>
			
		<!-- Submit username and password to the server -->
		<div class="form">
			
			{% if form.errors %}
				<p> Your username and password didn't match. Please try again. </p>
			{% endif %}
			
			<form method="post" id="login" name="login" action="http://realqa.mathcs.emory.edu/api-token-auth/">
				{% csrf_token %}
				<p id="welcome">Welcome to QA!</p>
				
				<input type="text" name="username" id="username" class="text" placeholder="Username" size="30" title="Required. 30 characters or fewer. Letters, numbers and @/./+/-/_ characters"/>
				<br />
				<input type="password" name="password" id="password" class="text" placeholder="Password"/>
				<br />
				<input type="hidden" name="next" id="next" value="{{ next }}" />
				<input type="submit" value="Sign in" name="sign_in" id="sign_in" class="button"/>
			</form>
				
			<!-- Redirects user to the registration page -->
			<form action="{% url 'realqa:register' %}">
				<input type="submit" value="Sign up" class="button"/>
			</form>
		</div>
	</div>
{% endblock %}