{% extends "realqa/base0.html" %}

{% block scripts %}
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
		$(function() {
			$('input[name="create_account"]').click(function() {
				var formdata = JSON.stringify($("#register").serializeArray());
				$.ajax({
					type: 'POST',
					contentType: 'application/json',
					url: "http://realqa.mathcs.emory.edu/users/",
					dataType: "json",
					data: formdata,
					success: function(data) {
						console.log(data);
					};
				});
			});
		});
	</script>
{% endblock %}
		
{% block static %}
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'realqa/css/login.css' %}" />
{% endblock %}

{% block body %}
	<div>
		<h1>
			RealQA
		</h1>
			
		<div class="form">
			{% if registered %} 
				Thank you for registering!
				<a href="/realqa/"> Return to the homepage. </a><br />
				
			<!-- If not registered, let user submit username and password to register -->
			{% else %}
				<form method="post" name="register" id="register" action="http://realqa.mathcs.emory.edu/users/">
					{% csrf_token %}
					<p id="welcome"> Register for RealQA: </p>
					<input type="text" name="username" id="username" class="text" placeholder="Username" size="30" title="Required. 30 characters or fewer. Letters, numbers and @/./+/-/_ characters"/>
					<br />
					<input type="password" name="password" id="password" class="text" placeholder="Password"/>
					<br />
					<input type="hidden" name="next" value="{{ next }}"/>
					<input type="submit" value="Create account" id="create_account" class="button"/>
				</form>
			{% endif %}
		</div>
	</div>
{% endblock %}