{% extends 'realqa/base.html' %}
	
{% block header %} Profile {% endblock %}

{% block content %}
	<div class="box">
		<h3> Your Questions and Answers </h3>
		<p id="settings">
			<a href="#" class="settings"> Your Questions </a>
			<br />
			<a href="#" class="settings"> Your Subscribed Questions </a>
			<br />
			<a href="#" class="settings"> Your Answers </a>
		</p>
	</div>
	
	<div class="box">
	<h3> Notification Settings </h3>
	</div>
	
	<div class="box">
	<h3> Edit Your Tags </h3>
	</div>
{% endblock %}